

<div class="main" style="margin-top: 20px; margin-bottom: 26vh;">
  <div class="container" style="width: 70vw;  background-color: #77bb1a;">
    {{#with contact}}

      <h1>{{title.talk}}</h1>
      <br>
      <h3>Tel #1: {{tel.primary}}</h3>
      <h3>Tel #2: {{tel.secondary}}</h3>
      <br>
      <h3>Whatsapp: {{zap.primary}}</h3>
      <h3>Whatsapp: {{zap.secondary}}</h3>
      <br>
      <h3>Emails: {{email.primary}}</h3>
      <h3>Sac: {{email.secondary}}</h3>

    {{/with}}
  </div>
</div>